#main-toolbar #activity-button {
	background-image: url(../activity/activity-icon.svg);
}

body {
	margin: 0;
	overflow: hidden;
	height: 100vh;
}

/* icons for toolbar button */
#main-toolbar #network-button {
	background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-home.svg);
}

#private-button {
	background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-home.svg);
	width: 47px;
	height: 47px;
	margin: 4px 2px;
	color: white;
	color: transparent;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 0;
	border-radius: 5.5px;
}

#shared-button {
	background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-neighborhood.svg);
	width: 47px;
	height: 47px;
	margin: 4px 2px;
	color: white;
	color: transparent;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 0;
	border-radius: 5.5px;
}

#main-toolbar #help-button {
	background-image: url(../icons/help.svg);
}

#play-pause-button {
	background-image: url(../icons/play.svg);
	width: 47px;
	height: 47px;
	margin: 4px 2px;
	color: transparent;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 0;
	border-radius: 5.5px;
	cursor: pointer;
	display: inline-block;
	visibility: visible;
	opacity: 1;
}

#play-pause-button .playing {
	background-image: url(../icons/pause.svg);
}

#play-pause-button:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

#play-pause-button:active {
	background-color: rgba(255, 255, 255, 0.2);
}

#addStickman-button {
	background-image: url(../icons/stickman-new.svg);
}

#speed-button {
	background-image: url(../icons/speed.svg);
}

#minus-button {
	background-image: url(../icons/minus.svg);
}

#template-button {
	background-image: url(../icons/stickman-template.svg);
}

#import-button {
	background-image: url(../icons/video-import.svg);
}

#export-button {
	background-image: url(../icons/video-export.svg);
}

#fullscreen-button {
	background-image: url(../icons/view-fullscreen.svg);
}

#add-button {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #282828;
	width: 50px;
	height: 50px;
	background-image: url(../icons/plus-circle.svg);
}

#bottom-right-buttons{
	position: fixed;
	bottom: 0px;
	right: 0px;
	height: 84px;
	width: 84px;
	background-color: #282828;
	display: flex;
	align-items: center;
	justify-content: center;
}

#unfullscreen-button {
	background-image: url(../icons/view-return.svg);
	border: 0;
	border-radius: 0px;
	margin: 1px;
	width: 45px;
	height: 45px;
	top: 10px;
	right: 20px;
	position: fixed;
	visibility: hidden;
	z-index: 1000;
}

#unfullscreen-button.visible {
	visibility: visible;
	opacity: 1;
}

/* vertical seprator line in toolbar */
.seprator-line {
	background-color: #808080;
	background-position: center;
	width: 2px;
	margin-left: 5px;
	margin-right: 4px;
	margin-bottom: 4px;
	height: 45px;
	display: inline-block;
	vertical-align: bottom;
}

#canvas{
	width: 100vw;
	overflow-x: hidden;
}

/* Stickman canvas */
#stickman-canvas{
	height: calc(100vh - 100px);
	background-color: #ffffff;
	width: 100%;

}

/* timeline */
.timeline {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	min-height: 50px;
	background: #c0c0c0;
	border-top: 3px solid #282828;
	padding: 10px;
	display: flex;
	align-items: center;
	overflow-y: hidden;
	white-space: nowrap;
	flex-wrap: nowrap;
}


.delete-frame {
	background-image: url(../icons/minus.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #282828;
	border: none;
	width: 20px;
	height: 20px;
	position: absolute;
	top: -4px;
	right: -4px;
	cursor: pointer;
	border-radius: 50%;
}


/* Update frame container to be relative positioned */
.frame-container {
	position: relative;
	display: inline-block;
	margin-right: 5px;
}

.template-palette {
	position: relative;
	display: inline-block;
	width: 100%;
}

.template-button{
	all: unset;
	color: white;
	padding: 10px 20px;
	border: none;
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 24px;
	width: calc(100% - 40px);
}